Package: placemat
Version: @VERSION@
Maintainer: Cybozu <oss@cybozu.com>
Architecture: amd64
Depends: qemu, qemu-kvm, socat, picocom, cloud-utils, rkt
Homepage: https://github.com/cybozu-go/placemat
Description: Virtual data center construction tool
