name: Release
on:
  push:
    tags:
      - 'v*'
defaults:
  run:
    working-directory: v2
jobs:
  release:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
      - run: |
          version=$(echo ${{ github.ref }} | sed -e "s#refs/tags/##g")
          deb_version=$(echo $version | sed -e "s/v//g")
          echo "version=$version" >> $GITHUB_ENV
          echo "deb_version=$deb_version" >> $GITHUB_ENV
      - run: make setup
      - run: make deb VERSION=${{ env.version }}
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if echo ${{ env.version }} | grep -q -e '-'; then prerelease=-p; fi
          gh release create ${{ env.version }} $prerelease \
            -t "Release ${{ env.version }}"  \
            -n "See [CHANGELOG.md](./CHANGELOG.md) for details." \
            placemat2_${{ env.deb_version }}_amd64.deb
